@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Narkis';
  font-weight: normal;
  src: url('../assets/fonts/NarkissBlock-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Narkis';
  font-weight: bold;
  src: url('../assets/fonts/NarkissBlock-Bold.woff2') format('woff2');
}

h1 {
  font-family: 'Narkis';
  font-weight: normal;
}

h1.bold {
  font-weight: bold;
}